@model CRMPortal.SharedServices.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Home";
}

<h3>
    <label class="">Welcome </label>
    @*@Html.DisplayFor(e => e.Acc.UserLastName, new { @class = "lable label-info" })*@
</h3>
<br />
<h3>
@*@Html.ActionLink("Display Contacts", "GetContacts", "Account", new { }, new { @class = "btn btn-primary" })*@
    
@Html.ActionLink("Help Desk Request", "Index", "HelpDesk", new { }, new { @class = "btn btn-primary" })
 
@Html.ActionLink("Purchase Order", "Index", "PurchaseOrder", new { }, new { @class = "btn btn-primary" })
 
@Html.ActionLink("Room Reservation ", "Index", "RoomReservation", new { }, new { @class = "btn btn-primary" })

@Html.ActionLink("Transportaion Request", "Index", "Transportation", new { }, new { @class = "btn btn-primary" })
</h3>