@model CRMPortal.SharedServices.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Index";
}
 


       


 <div class="col-lg-offset-0">
@using (Html.BeginForm("Login", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(e => e.Email)
        @Html.TextBoxFor(e => e.Email, new { @class = "form-control" })
        </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Password)
        @Html.PasswordFor(e => e.Password, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        <input type="submit" value="Login" class="btn" />
    </div>
}
 </div>
